<h1>Resultado da busca por: <%= @search %></h1>

<% if @recipes.empty?%>
  <p>Nenhuma receita encontrada</p>
<% else %>
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
<% end %>

<p><%= link_to "Voltar", root_path %></p>
